.tailletetepres {
  height: 80px;
}

.backgroundtete {
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.6) 0%, rgba(0,0,0,0.3) 50%);
  height: 100vh;
  background-position: center;
}

.container-flat-description {
  background-color: $lightgray;
}

.bookingform {
  background-color: $lightgray;
}

.header-flat {
  display: flex;
}

.landlordcard {

}
